<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("ViewResultsDemo", "ViewResultsDemo", "Home")</li>
                    <li>@Html.ActionLink("PartialVIewResultsDemo", "PartialVIewResultsDemo", "Home")</li>
                    <li>@Html.ActionLink("ContentDemo", "ContentDemo", "Home")</li>
                    <li>@Html.ActionLink("ContentWithTypeDemo", "ContentWithTypeDemo", "Home")</li>
                    <li>@Html.ActionLink("ScriptAsContent", "ScriptAsContent", "Home")</li>
                    <li>@Html.ActionLink("EmptyResultDemo", "EmptyResultDemo", "Home")</li>
                    <li>@Html.ActionLink("EmptyDemo", "EmptyDemo", "Home")</li>
                    <li>@Html.ActionLink("FileContentDemo", "FileContentDemo", "Home")</li>
                    <li>@Html.ActionLink("FileDownloadDemo", "FileDownloadDemo", "Home")</li>
                    <li>@Html.ActionLink("JsonResultsDemo", "JsonResultsDemo", "Home")</li>
                    <li>@Html.ActionLink("JavaScriptDemo", "JavaScriptDemo", "Home")</li>
                    <li>@Html.ActionLink("RedirectDemo", "RedirectDemo", "Home")</li>
                    <li>@Html.ActionLink("RedirectToRouteResultDemo", "RedirectToRouteResultDemo", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("HttpStatusCodeResultDemo", "HttpStatusCodeResultDemo", "Home")</li>
                    <li>@Html.ActionLink("HttpUnauthorizedResultDemo", "HttpUnauthorizedResultDemo", "Home")</li>
                    <li>@Html.ActionLink("HttpNotFoundResultDemo", "HttpNotFoundResultDemo", "Home")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
